<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['annotatedtimeline']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.setOnLoadCallback(drawChart);

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  var rows = <%= raw @data %>;
  $.each(rows, function(index, value) {
      date = new Date(value[0]);
      val = value[1]/1000
      if (val < 10) {
        rows[index] = [date,val];
      }
      else {
        rows[index] = [date,0];
      }
  });
  function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Render Completed Time');
    data.addRows(rows);

    // Set chart options
    var options = {'title':'Render Completed Time'};

    var annotatedtimeline = new google.visualization.AnnotatedTimeLine(
      document.getElementById('chart_div'));
    annotatedtimeline.draw(data, {'displayAnnotations': true});
  }
</script>
<div id="chart_div" style="width: 800px; height: 400px;"></div>
