<div id="dashboard"></div>
<script>
  window.render_logs = new Copse.Collections.RenderLogsCollection(
    <%= @logs.to_json.html_safe %>
  );
  window.main_view = new Copse.Views.RenderLogs.DashboardView()
  $('#dashboard').html(window.main_view.render().el);
</script>
