<table>
  <tr><th>Host</th><th>Time</th><th>Message</th></tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= log.FromHost %></td>
    <td><%= log.DeviceReportedTime %></td>
    <td><%= log.Message %></td>
  </tr>
  <% end %>
</table>
