<table>
  <tr><th>Received At</th><th>DeviceReportedTime</th><th>Message</th></tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= log.ReceivedAt %></td>
    <td><%= log.DeviceReportedTime %></td>
    <td><%= log.Message %></td>
  </tr>
  <% end %>
</table>
