<input type="text" id="start_date">
<input type="text" id="end_date">
<select id="controller" name="controller">
<% for(i=0;i<controllers.length;i++) { %>
  <option value="<%= controllers[i] %>"><%= controllers[i] %></option>
<% } %>
</select>
<select id="action" name="action">
<% for(i=0;i<actions.length;i++) { %>
  <option value="<%= actions[i] %>"><%= actions[i] %></option>
<% } %>
</select><input type="submit"/>
